.header {
  height: 5em;
  width: 100%;
  background-color: var(--clr-bg);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
}

@media (max-width: 600px) {
  .header {
    height: 5em;
  }
}
